.container {
    background-color: rgb(175, 175, 175);
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Bakbak One', cursive;
}
.displayer {
    background-color: rgb(238, 238, 238);
    margin: 2px;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.previous-data {
    display: flex;
    align-items: center;
    height: 20px;
    font-size: 1.1em;
    letter-spacing: 1px;
    color: rgb(88, 88, 88);
}
.current-data {
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 1.545454em;
    letter-spacing: 1px;
}
.buttons-wrapper {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.clear-buttons-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.digit-buttons-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.operator-buttons-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}
.btn {
    margin: 2px;
    height: 80px;
    border-style: none;
    border-radius: 4px;
    font-family: 'Bakbak One', cursive;
    font-size: 1.4em;
    background-color: rgb(238, 238, 238)
}
.btn:hover {
    background-color: rgb(230, 230, 230);
}
.btn:active {
    border-style: solid;
    border-radius: 6px;
    border-color: rgb(175, 175, 175);
    background-color: rgb(220, 220, 220);
}
#clear-entry-button:active {
    background-color: rgb(255, 156, 156);
}
.btn-github {
    font-size: 2em;
    color: rgb(150, 150, 150);
}

@media (max-width: 450px) {
    .container {
        width: 90vw;
    }
    .btn {
        height: 20vw;
    }
    .btn-github {
        font-size: 1.2em;
    }
}